@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fundo-escuro: #1A1A22;
    --gradient: linear-gradient(135deg, #1A1A22 0%, #2E2E3E 50%, #3A3A4A 100%);
    --branco: #FFFFFF;
    --cinza-logo: #D9D9D9;
    --laranja: #F28C2E;
    --vermelho: #E24329;
    --box-shadow: 1px 1px 25px #00000073;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

body {
    background: var(--gradient);
    color: var(--branco);
}

main {
    width: 100%;
    min-height: 100dvh;

    display: flex;
    flex-wrap: wrap;
}

.s-perfil {
    flex: 1 1 60%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    padding: 2rem;
}

.d-informacoes-lider {
    width: 100%;

    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;

    padding: 0rem 2rem;
}

.d-informacoes-lider h1 {
    font-size: 1.5rem;
}

.d-informacoes-lider h2 {
    font-size: 2rem;
}

.d-informacoes-lider p {
    font-size: 1rem;
}

.d-informacoes-lider img {
    height: auto;
    width: 9rem;
}

.d-botoes {
    width: 40%;
    min-width: 230px;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.d-select {
    width: 100%;

    text-align: center;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.d-select h3 {
    font-size: 2rem;
}

select {
    text-align: center;
    margin: 0 auto;
}

option:nth-child(odd) {
    background-color: #c4c4c4;
}

.scroll {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.d-botoes button,
.d-botoes select {
    background: linear-gradient(122deg, rgba(232, 232, 232, 1) 0%, rgba(209, 209, 209, 1) 100%);
    width: 100%;
    max-width: 400px;

    border: none;
    border-radius: 24px;
    font-size: 1.4rem;
    padding: 1.2rem;

    transition: 0.1s ease-in;
    cursor: pointer;
}

.d-botoes button:hover,
.d-botoes select:hover {
    transform: scale(1.05);
    background-color: #a9a9a9;
}

.dados-alunos {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.circle {
    background: linear-gradient(122deg, rgba(232, 232, 232, 1) 0%, rgba(209, 209, 209, 1) 100%);

    padding: 1.7rem 1.2rem;
    border-radius: 24px;
    text-align: center;
    color: var(--fundo-escuro);
    font-size: 1.5rem;
    transition: 0.1s ease-in;
    cursor: default;
}

.circle:hover {
    transform: scale(1.1);
    box-shadow: var(--box-shadow);
}

.circle h4 {
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.circle p {
    font-weight: bold;
}

.solicitacao-card {
    background-color: var(--cinza-logo);
    border-radius: 10px;
    padding: 16px 18px;
    max-width: 420px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.241);
    border-left: 5px solid #0057b8;
    /* destaque institucional */
    margin-bottom: 10px;
}

.solicitacao-titulo {
    margin: 0 0 10px 0;
    font-size: 1.1rem;
    color: #1f2937;
}

.solicitacao-info p {
    margin: 4px 0;
    font-size: 0.95rem;
    color: #282e35;
}

.solicitacao-info strong {
    color: #111827;
}

.solicitacao-acoes {
    display: flex;
    gap: 10px;
    margin-top: 14px;
}

.btn {
    flex: 1;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-aceitar {
    background-color: #16a34a;
    color: #ffffff;
}

.btn-aceitar:hover {
    background-color: #15803d;
}

.btn-recusar {
    background-color: #dc2626;
    color: #ffffff;
}

.btn-recusar:hover {
    background-color: #b91c1c;
}


.s-lista {
    background-color: #1a1a22;
    flex: 1 1 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 2rem;
}

.d-nome-turma {
    width: 100%;
    text-align: center;
}

.d-nome-turma h2 {
    font-size: 2rem;
}

.funcionalidades-lista {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.funcionalidades-lista button {
    background-color: var(--branco);
    color: black;
    border: none;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 12px;
    margin-top: 1rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-weight: bolder;
}



.funcionalidades-lista button:hover {
    transform: scale(1.05);
    color: white;
    background-color: #15803d;
}

#barraPesquisa {
    width: 300px;
    background-color: var(--branco);
    color: black;
    margin-top: 1rem;
    border: none;
    border-radius: 12px;
    padding: 0.5rem;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

#barraPesquisa:hover,
#barraPesquisa:focus {
    outline: 2px solid var(--laranja);
    transform: scalex(1.05);
}

.bloco-aluno {
    background-color: var(--laranja);
    width: 100%;
    max-width: 600px;


    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    border: 3px solid var(--fundo-escuro);
    border-radius: 18px;
    transition: 0.1s;
    cursor: pointer;
}

.bloco-aluno:hover {
    transform: scale(1.03);
    box-shadow: var(--box-shadow);
}

.bloco-aluno img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.info-left,
.info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.info-left h2 {
    font-size: 1.5rem;
}

.info-left p {
    font-size: 1rem;
}

.info-right h2 {
    font-size: 1rem;
}

.info-right p {
    font-size: 1rem;
}

.info-right {
    margin-left: auto;
    text-align: right;
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }
}

@media screen and (max-width: 490px) {

    .solicitacao-card {
        max-width: 250px;
    }

    .dados-alunos {
        width: 80%;
        flex-direction: column;
        align-items: center;

    }


    .d-informacoes-lider {
        flex-wrap: wrap;
        display: flex;

        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .d-informacoes-texto {
        text-align: center;
    }
}

.s-perfil {
    gap: 3rem;

}

@media screen and (max-width: 290px) {
    .d-informacoes-lider img {
        height: auto;
        width: 5rem;
    }

    .d-informacoes-lider h1 {
        font-size: 1.1rem;
    }

    .d-informacoes-lider h2 {
        font-size: 1.6rem;
    }

    .d-informacoes-lider p {
        font-size: 0.6rem;
    }

    .d-select h3 {
        font-size: 1.5rem;
    }

    .d-botoes {
        width: 80%;
        min-width: auto;
        font-size: auto;
    }

    .d-botoes button,
    .d-botoes select {
        font-size: 1rem;
    }

    .info-left h2 {
        font-size: 1.1rem;
    }

    .circle {
        padding: 1rem 1rem;
        font-size: 1.1rem;

    }
}