@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');

:root {
    --fundo-escuro: #1A1A22;
    --gradient: linear-gradient(135deg, #1A1A22 0%, #2E2E3E 50%, #3A3A4A 100%);
    --branco: #FFFFFF;
    --laranja: #F28C2E;
    --laranja-escuro: #b06218;
    --box-shadow: 1px 1px 25px #00000073;
    --bg-test: #ffffff57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

body {
    background: var(--gradient);
    color: var(--branco);
}

main {
    width: 100%;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    flex-wrap: wrap;
    text-align: center;
}

.login-card img {
    height: auto;
    width: 9rem;
}

.login-card {
    background-color: #5f5f8157;
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    border-radius: 24px;
    box-shadow: var(--box-shadow);
}

form {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-group input {
    width: 300px;
    background-color: var(--fundo-escuro);

    border: none;
    border-radius: 12px;
    padding: 0.5rem;
    color: var(--branco);
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

.input-group input:hover,
.input-group input:focus {
    outline: 2px solid var(--laranja);
    transform: scalex(1.05);
}

.input-group label {
    font-weight: 600;
    font-size: 1.2rem;
}

.extras {
    display: flex;
    gap: 1rem;
}

button {
    background-color: var(--laranja);
    border: none;
    border-radius: 16px;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: var(--box-shadow);

    width: 100%;
}

button:hover {
    background-color: var(--laranja-escuro);
    transform: scale(1.05);
}

@media screen and (max-width: 500px) {
    .login-card {
        width: 80%;
    }

    .input-group input {
        width: 100%;
        padding: 0.5rem;
        
    }

    .login-card img {
        height: auto;
        width: 50%
    }

    button {
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }
}