@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fundo-escuro: #1A1A22;
    --gradient: linear-gradient(135deg, #1A1A22 0%, #2E2E3E 50%, #3A3A4A 100%);
    --branco: #FFFFFF;
    --cinza-logo: #D9D9D9;
    --laranja: #F28C2E;
    --vermelho: #E24329;
    --box-shadow: 1px 1px 25px #00000073;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

body {
    background: linear-gradient(135deg, #1A1A22 0%, #2E2E3E 50%, #3A3A4A 100%);;
    color: var(--branco);

    min-height: 100dvh;
}

header {
    background-color: var(--fundo-escuro);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 4rem;
    align-items: center;
}

header h1 {
    font-size: clamp(1.5rem, 2vw, 2.2rem);
}

header button {
  background: var(--laranja);
  font-size: 1rem;
  color: black;

  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
  border-radius: 12px;
  font-weight: bolder;
}

header button:hover {
  transform: scale(1.05);
  color: white;
}

.lista-notificacoes {
    width: 65%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.notificacao {
    background-color: var(--fundo-escuro);
    padding: 1.5rem;
    border-radius: 7px;
}

.notificacao button {
    border: none;
    padding: 0.5rem;
    border-radius: 22px;
    background-color: var(--laranja);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 20px;
}

.notificacao button:hover {
    color: white;
}

.notificacaoBottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.oculto{
    display: none;
}

.categoria {
    display: flex;
    flex-direction: column;
    gap: 6px;

    width: min(90%, 260px);
    margin: 30px auto;
}

.categoria label {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--branco);
    text-align: center;
}

.categoria select {
    padding: 8px 10px;

    font-size: 0.95rem;
    border-radius: 6px;
    border: 1px solid #ccc;

    background-color: var(--fundo-escuro);
    color: white;
    cursor: pointer;

    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* Efeito ao focar */
.categoria select:focus {
    outline: none;
    border-color: var(--laranja);
}


@media screen and (max-width: 565px){
    .lista-notificacoes {
    width: 90%;

}
}

@media screen and (max-width: 390px){
    .lista-notificacoes {
    width: 80%;

}

header {
    gap: 1rem;
    justify-content: center;
}

header h1 {
    font-size: 1.3rem;
}

.lista-notificacoes p{
    font-size: 0.8rem;
}

.small{
    font-size: 0.8rem;
}

.lista-notificacoes button{
    font-size: 0.7rem;
}
}